Edad 1: <input id="edadUno" name="general" type="number" max="99" min="1"/><br><br>

Edad 2: <input id="edadDos" name="general" type="number" max="99" min="1"/><br><br>

Promedio: <input id="promedio" name="general" readonly value={{promedio}}/><br><br>

Suma: <input id="suma" name="general" readonly value={{suma}}/><br><br>

<button  class="button-2" (click)="sumar()">Calcular Promedio y Suma</button>

<button class="button-2"(click)="limpiar()"> Limpiar</button>

<router-outlet></router-outlet>
